Repository typescript-tools/typescript-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write", "eslint --fix"],
  "*.md": ["prettier --write"],
  "*.y(a?)ml": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"]
}

Notes added by 'git notes add'
  5b3b6dc531681c9e641b7484b03ef6a76dc82cd4
Due: none

docs: update readme badges
  packages/stringify-json/README.md
Due: prettier --write

chore: import from top level
  packages/typescript-build-linker/src/index.ts
Due: prettier --write, eslint --fix

fix: update fp-ts 2.9.3 -> 2.11.5
  package-lock.json
  packages/configure-lerna-manifest/package.json
  packages/containing-packages/package.json
  packages/dependency-graph/package.json
  packages/depender-graph/package.json
  packages/find-package/package.json
  packages/hoisted-packages/package.json
  packages/internal-dependencies/package.json
  packages/internal-dependers/package.json
  packages/io-ts/package.json
  packages/lerna-packages/package.json
  packages/lerna-utils/package.json
  packages/link-dependency-executables/package.json
  packages/link-local-dependencies/package.json
  packages/monorepo-root/package.json
  packages/package-manifests/package.json
  packages/packages-to-rebuild-on-changes-cli/package.json
  packages/packages-to-rebuild-on-changes/package.json
  packages/pin-lerna-package-versions/package.json
  packages/stringify-json/package.json
  packages/tsconfig-includes/package.json
  packages/typescript-build-linker/package.json
  packages/use-hoisted-version/package.json
Due: prettier --write, eslint --fix

chore: bump node version -> 16.13.0
  .nvmrc
Due: none

fix: sort typescript project references
  packages/typescript-build-linker/src/index.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  330b6ce8deea2ad12311e408b9e14db3697c420d
Due: none
