Repository typescript-tools/typescript-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write", "eslint --fix"],
  "*.md": ["prettier --write"],
  "*.y(a?)ml": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"]
}

Notes added by 'git notes add'
  fe1bd54f92984e4d451617feabc3863050751c04
Due: none

docs: use consistent variable name
  packages/update-lerna-manifest/README.md
Due: prettier --write

chore: configure renovate
  .github/renovate.json
Due: prettier --write, eslint --fix

ci: test before release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(deps): pin dependencies
  package.json
  packages/configure-lerna-manifest/package.json
  packages/containing-packages/package.json
  packages/dependency-graph/package.json
  packages/depender-graph/package.json
  packages/find-package/package.json
  packages/hoisted-packages/package.json
  packages/internal-dependencies/package.json
  packages/internal-dependers/package.json
  packages/io-ts/package.json
  packages/lerna-packages/package.json
  packages/lerna-utils/package.json
  packages/link-dependency-executables/package.json
  packages/link-local-dependencies/package.json
  packages/monorepo-root/package.json
  packages/package-manifests/package.json
  packages/packages-to-rebuild-on-changes-cli/package.json
  packages/packages-to-rebuild-on-changes/package.json
  packages/pin-lerna-package-versions/package.json
  packages/stringify-json/package.json
  packages/tsconfig-includes/package.json
  packages/typescript-build-linker/package.json
  packages/update-lerna-manifest/package.json
  packages/use-hoisted-version/package.json
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/docopt to v0.6.33
  package-lock.json
  packages/internal-dependencies/package.json
  packages/lerna-utils/package-lock.json
Due: prettier --write, eslint --fix

chore(deps): update node.js to v16.13.1
  .nvmrc
  packages/configure-lerna-manifest/package.json
  packages/containing-packages/package.json
  packages/dependency-graph/package.json
  packages/depender-graph/package.json
  packages/find-package/package.json
  packages/hoisted-packages/package.json
  packages/internal-dependencies/package.json
  packages/internal-dependers/package.json
  packages/io-ts/package.json
  packages/lerna-packages/package.json
  packages/lerna-utils/package.json
  packages/link-dependency-executables/package.json
  packages/link-local-dependencies/package.json
  packages/monorepo-root/package.json
  packages/package-manifests/package.json
  packages/packages-to-rebuild-on-changes-cli/package.json
  packages/packages-to-rebuild-on-changes/package.json
  packages/pin-lerna-package-versions/package.json
  packages/stringify-json/package.json
  packages/tsconfig-includes/package.json
  packages/typescript-build-linker/package.json
  packages/update-lerna-manifest/package.json
  packages/use-hoisted-version/package.json
Due: prettier --write, eslint --fix

chore(deps): update dependency commitizen to v4.2.4
  package-lock.json
  package.json
  packages/lerna-utils/package-lock.json
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/node to v14.18.0
  package-lock.json
  packages/configure-lerna-manifest/package.json
  packages/containing-packages/package.json
  packages/dependency-graph/package.json
  packages/depender-graph/package.json
  packages/find-package/package.json
  packages/hoisted-packages/package.json
  packages/internal-dependencies/package.json
  packages/internal-dependers/package.json
  packages/io-ts/package.json
  packages/lerna-packages/package.json
  packages/lerna-utils/package-lock.json
  packages/link-dependency-executables/package.json
  packages/link-local-dependencies/package.json
  packages/monorepo-root/package.json
  packages/package-manifests/package.json
  packages/packages-to-rebuild-on-changes-cli/package.json
  packages/packages-to-rebuild-on-changes/package.json
  packages/pin-lerna-package-versions/package.json
  packages/stringify-json/package.json
  packages/tsconfig-includes/package.json
  packages/typescript-build-linker/package.json
  packages/update-lerna-manifest/package.json
  packages/use-hoisted-version/package.json
Due: prettier --write, eslint --fix

chore: disable renovate
  .github/renovate.json
Due: prettier --write, eslint --fix

docs(update-lerna-manifest): add JSON-not-JSON5 limitation
  packages/update-lerna-manifest/README.md
Due: prettier --write

chore: add license file
  LICENSE
Due: none

chore(nix): create dev shell
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

docs: add deprecation notice
  README.md
Due: prettier --write
